<div class="row" style="margin-top: 2%;">
  <div class="col-sm-7"> </div>
  <div class="col-sm-3">
    <span> <%= link_to('Login', new_user_session_path, class: "btn btn-success" ) %> </span>
    <span> <%= link_to('Registration', new_user_registration_path, class: "btn btn-success" ) %> </span>
   </div>
  <div class="col-sm-2"> </div>
</div>


<div class="row" style="margin-top: 2%;">
  <div class="col-sm-4"> </div>
  <div class="col-sm-4">

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions margin_top05">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

  </div>
   <div class="col-sm-4"> </div>
</div>

