<div class="row margin_top1">
  <div class="col-sm-4"> </div>
  <div class="col-sm-4">
    <h2 class="margin_bottom1"> Users </h2>
    <div class="row margin_bottom05">
      <div class="col-sm-6">
         <div class="margin_top05"> <b> User </b> </div>
      </div>
      <div class="col-sm-6">
        <div class="margin_top05"> <b> Hobby </b> </div>
      </div>
    </div>
    <div class="purple_line"> </div>

    <% @users.each do |user| %>
      <div class="row margin_bottom05">
        <div class="col-sm-6">
          <div class="margin_top05">  <%= user.email %> </div>
        </div>
        <div class="col-sm-6">

          <% user.hobby_users.each do |hobby_user| %>
            <div class="margin_top05"> <%= hobby_user.hobby.name %> </div>
          <% end %>

        </div>
      </div>

      <div class="purple_line"> </div>
    <% end %>

    <div class="margin_top05"> <%= link_to('Show nearest', nearest_users_path, class: "btn btn-success") %> </div>
    <div class="margin_top05"> <%= link_to('List of hobbies', hobbies_path, class: "btn btn-success") %> </div>

  </div>
  <div class="col-sm-4"> </div>
</div>