<div class="row margin_top1">
  <div class="col-sm-4"> </div>
  <div class="col-sm-4">
    <h2 class="margin_bottom1"> Hobbies </h2>

    <% @hobbies.each do |hobby| %>
      <div class="row margin_top05">
        <div class="col-sm-8"> <%= hobby.name %> </div>
        <div class="col-sm-4">
          <%= link_to('enroll', hobby_users_path(hobby_id: hobby.id), method: :post, class: "btn btn-primary") %>
        </div>
      </div>
    <% end %>

    <div class="margin_top05"> <%= link_to("Add new hobby", new_hobby_path, class: "btn btn-success") %> </div>
    <div class="margin_top05"> <%= link_to('List of users', users_path, class: "btn btn-success") %> </div>

  </div>
  <div class="col-sm-4"> </div>
</div>