<div class="row margin_top1">
  <div class="col-sm-4"> </div>
  <div class="col-sm-4">
   <h2 class="margin_bottom1"> New hobby </h2>
     <%= form_for(@hobby) do |f| %>
      <div class="row margin_top1">
        <div class="col-sm-8">
          <%= f.text_field :name, placeholder: "Add new hobby", autofocus: "on", size: "20x1", class: "form-control" %>
        </div>
        <div class="col-sm-2">
          <div class="actions">
            <%= f.submit "Save", class: "btn btn-success" %>
          </div>
        </div>
        <div class="col-sm-2 elements_in_div_center_vertically">
          <div class="actions">
            <div> <%= link_to("Cancel", hobbies_path) %> </div>
          </div>
        </div>
      <% end %>

  </div>
  <div class="col-sm-4"> </div>
</div>