<div class="row margin_top1">
  <div class="col-sm-4"> </div>
   <div class="col-sm-4">
      <h2 class="margin_bottom15"> Nearest Users </h2>
      <div class="row margin_bottom05">
        <div class="col-sm-6"> <b> User </b></div>
        <div class="col-sm-6"> <b> Distance to [km] </b></div>
      </div>
      <div class="purple_line"> </div>

      <% @nearest_users.each do |nearest_user| %>
        <div class="row margin_top05 margin_bottom05">
          <div class="col-sm-6"> <%= nearest_user[0].email %></div>
          <div class="col-sm-6">
            <% if nearest_user[1].present? %>
              <%= nearest_user[1].round(1) %>
            <% end %>
          </div>
        </div>
        <div class="purple_line"> </div>
      <% end %>

      <div class="margin_top05"> <%= link_to('List of users', users_path, class: "btn btn-success") %> </div>

    </div>
    <div class="col-sm-4"> </div>
</div>