<div class="row" style="margin-top: 2%;">
  <div class="col-sm-7"> </div>
  <div class="col-sm-3">
    <span> <%= link_to('Login', new_user_session_path, class: "btn btn-success" ) %> </span>
    <span> <%= link_to('Registration', new_user_registration_path, class: "btn btn-success" ) %> </span>
   </div>
  <div class="col-sm-2"> </div>
</div>

<div class="row" style="margin-top: 2%;">
  <div class="col-sm-4"> </div>
  <div class="col-sm-4">

    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

   </div>
   <div class="col-sm-4"> </div>
</div>
