.elements_in_div_center_vertically {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.margin_top05 {
  margin-top: 0.5vw;
}
.margin_top1 {
  margin-top: 1vw;
}
.margin_bottom05 {
  margin-bottom: 0.5vw;
}
.margin_bottom1 {
  margin-bottom: 1vw;
}
.margin_bottom15 {
  margin-bottom: 1.5vw;
}
.purple_line{
  height: 0.2vw;
  background-color: purple;
}


