<!DOCTYPE html>
<html>
  <head>
    <title>AppHobby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>

     <div class="row" style="margin-top: 0.5vw;">
      <div class="col-sm-7"> </div>
      <div class="col-sm-3">
         <span> <%= link_to('Log out', destroy_user_session_path, method: :delete) %> </span>
       </div>
      <div class="col-sm-2"> </div>
     </div>

    <% end %>
    <%= yield %>

  </body>
</html>
